<form method="POST" action="/login">
  <fieldset>
   <legend>Login</legend>
   <div>
     <label for="username">username</label>
     <input type="text" id="username" name="username" requried autocomplete="off" />
   </div>
   <div>
     <label for="password">password</label>
     <input type="password" id="password" name="password" required />
   </div>
   <div id="submitbutton">
     <button type="submit">Submit</button>
   </div>
 </fieldset>
</form>
